/* Solid button wit transition  */
.btn-sc-b{
    background: none;
    border: 1px solid black;
    margin:5px;
    border-radius: 0px;
    transition: .6s;
    overflow: hidden;
    width:100px;
    height:50px;
    font-size: 18px;
  }
  .btn-sc-b:focus{
   outline: none;
  }
  .btn-cs-b:before{
    content: '';
    display: block;
    position: absolute;
    background: rgba(255,255,255,0.5);
    opacity: .5s;
    filter: blur(30px);
    transform: translate(-130px) skewX(-15deg);
  
  
  }
  .btn-cs-b:after{
    content: '';
    display: block;
    position: absolute;
    background: rgba(255,255,255,0.2);
    opacity: .5s;
    filter: blur(30px);
    transform: translate(-100px) scaleX(-15deg);
  
  }
  .btn-sc-b:hover{
    background: black;
    color: white;
    cursor: pointer;
  }
  .btn-sc-b:hover:before{
    transform: translate(300px) skewX(-15deg);
    opacity: .6;
    transition: .7s;
  }
  .btn-sc-b:hover:after{
    transform: translate(300px) skewX(-15deg);
    opacity: 1;
    transition: .7s;
  }



  /* filled button with animaton*/
  .btn-sc-w{
    background: none;
    border: 1px solid white;
    border-radius: 0px;
    margin: 5px;
    transition: .6s;
    overflow: hidden;
    width:100px;
    height:50px;
    font-size: 18px;
    background:transparent;
    color: white;
  }
  .btn-sc-w:focus{
   outline: none;
  }
  .btn-sc-w:before{
    content: '';
    display: block;
    position: absolute;
    background: rgba(255,255,255,0.5);
    opacity: .5s;
    filter: blur(30px);
    transform: translate(-130px) skewX(-15deg);
  
  
  }
  .btn-sc-w:after{
    content: '';
    display: block;
    position: absolute;
    background: rgba(255,255,255,0.2);
    opacity: .5s;
    filter: blur(30px);
    transform: translate(-100px) scaleX(-15deg);
  
  }
  .btn-sc-w:hover{
    background: white;
    color: black;
    cursor: pointer;
  }
  .btn-sc-w:hover:before{
    transform: translate(300px) skewX(-15deg);
    opacity: .6;
    transition: .7s;
  }
  .btn-sc-w:hover:after{
    transform: translate(300px) skewX(-15deg);
    opacity: 1;
    transition: .7s;
  }